body {
  font-family: 'Press Start 2P', cursive;
  background-color: #272727;
  color: #fff;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-color: #00adb5;
  padding: 10px;
}

h1 {
  margin: 0;
  font-size: 32px;
}

section {
  max-width: 800px;
  margin: 20px auto;
  background-color: #393e46;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

h2 {
  color: #00adb5;
}

p {
  line-height: 1.5;
  color: #eeeeee;
}

/* コード要素にスタイルを追加（オプション） */
code {
  background-color: #5a5a5a;
  padding: 2px 4px;
  border: 1px solid #444;
  border-radius: 3px;
}

/* リンクにスタイルを追加（オプション） */
a {
  color: #6ab04c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #00adb5;
}
